* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;

}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: top;
    height:100vh;
    overflow: hidden;
}

header {
    display:flex;
    justify-content: space-between;
    height:100px;
}

header .bem-vindo {
    color:rgb(227, 235, 255);
    padding-left:20px;
    padding-top:20px;
    font-size:20px;
    font-weight:  bold ;
}
.img img {
    width:125px;
    height:auto;
    margin-left:60px;
}

header .suport {
    color: rgb(116, 155, 255);
    padding-right:20px;
    padding-top:20px;
    font-size:20px;
    font-weight:bold;
    text-align: center;
}

.historico {
    height:calc(100vh - 235px);
    margin-top:35px;
}
table {
    background-color:white;
    margin:0px auto;
    border-radius:10px;
    box-shadow: 2px 2px 2px 2px #7e7e7e;
}

/* FOOTER */

footer {
    display:flex;
    justify-content: space-between;
    height:100px;
}

.conta {
    color:rgb(32, 56, 121);
    margin-left:20px;
    font-size:20px;
    font-weight:  bold ;
    margin-top:25px;
}

.data {
    color:rgb(32, 56, 121);
    font-size:20px;
    font-weight:  bold ;
    line-height: 100px;
    height:100px;
    width:100px;
}

.sair {
    background: linear-gradient(to right, rgb(0, 132, 255), blue );
    height:50px;
    width: 100px;
    border-radius:20px;
    color:rgb(32, 56, 121);
    margin-right:20px;
    display:block;
    margin-top:25px;
}

.sair a {
    font-size:20px;
    font-weight:  bold ;
    text-decoration:none;
    color:white;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}



